*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    width: 100%;
}

/* -------AQUI EMPIEZA EL PROYECTO */

:root {
    --bg-color: linear-gradient(to top, #FFFFFF 0%, #63E3F4 15%, #FFFFFF 100%);
    --accent-bg-color: linear-gradient(to bottom left, #EC64D8 0%, #C83DC6 14%, #690177 70%);
    --accent-secondary-bg-color: #DEEBFF;
    --text-color: #091E42;
    --text-light-color: #989898;
    --text-secondary-color: #fff;
    --primary-color: #0065FF;
    --primary-color-dark: #0747a6;

    --container-nav: 90%;
    --container: 90%;
}

h1 {
    font-size: 32px;
    font-weight: 500;
    line-height: 1.2;
}

.container-nav {
    width: var(--container-nav);
    margin: 0 auto;
}

.container {
    width: var(--container);
    margin: 0 auto;
}

body {
    overflow-x: hidden;
}

/* ---------------NAV----------- */
.mobile-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 12px 0px;
}

.mobile-nav .logo-nav {
    width: 100px;
}

.mobile-nav .icon-burger {
    width: 40px;
}

.mobile-nav img {
    width: 100%;
}

.desktop-nav {
    display: none;
}

/* ----------------------ASIDE------------------------ */

.aside-mobile {
    padding: 16px 20px;
}

.aside-style {
    background-color: var(--accent-secondary-bg-color);
    text-align: center;
    line-height: 1.5;
}

.aside-style a {
    color: var(--primary-color);
    text-decoration: underline;
    text-decoration-color: var(--primary-color)
}

.aside-desktop {
    display: none;
}

/* ----------------------------HEADER-------------------------- */

.not-on-mobile {
    display: none;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;

    background: url(/media/images/image-wave-separator-header.svg) center bottom -0.5px / 100% 14% no-repeat scroll padding-box border-box, linear-gradient(60deg, rgb(82, 67, 170), rgb(237, 80, 180)) 0% 0% / auto repeat scroll padding-box border-box rgb(82, 67, 170);
    background-blend-mode: normal, normal;
    color: rgb(255, 255, 255);
    padding-top: 120px;
}

.header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    flex: 1;

    text-align: center;
    color: var(--text-secondary-color);
    position: relative;
}

.header .texts-and-buttons-container {
    display: flex;
    flex-direction: column;
    gap: 32px;

    font-size: 20px;
    line-height: 1.3;
    font-weight: 400;
    padding-bottom: 200px;
}

.texts-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.header .buttons-container button {
    color: var(--text-secondary-color);
    background-color: var(--primary-color);
    padding: 16px;
    border-radius: 4px;
    border: 1px solid var(--primary-color);
}

.header .buttons-container button:hover {
    background-color: var(--primary-color-dark);
    border: 1px solid var(--primary-color-dark);
}

.header .buttons-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.buttons-container .video-header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    font-size: 16px;
    text-decoration-line: underline;
    color: var(--text-light-color);
}

.video-header-container .logo-play {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 30px;
}

.container .header-image-mobile {
    position: absolute;
    width: 300px;
    bottom: -80px;
}

.not-on-mobile-only {
    display: none;
}

.header .wave-image {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 1 0 80px;
}

.header .wave-image img {
    height: 100%;
}