*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    width: 100%;
}

/* -------AQUI EMPIEZA EL PROYECTO */

:root {
    --bg-color: linear-gradient(to top, #FFFFFF 0%, #63E3F4 15%, #FFFFFF 100%);
    --accent-bg-color: linear-gradient(to bottom left, #EC64D8 0%, #C83DC6 14%, #690177 70%);
    --accent-secondary-bg-color: #DEEBFF;
    --text-color: #091E42;
    --text-light-color: #989898;
    --text-secondary-color: #fff;
    --text-accent-color: #004ECB;
    --primary-color: #0065FF;
    --primary-color-dark: #0747a6;
    --bg-card-1: #02C7E5;
    --bg-card-2: #FFC400;
    --bg-card-3: #57D9A3;
    --text-bg-card: #fff;
    --bg-custom-card-1: #02C7E5;
    --bg-custom-card-2: #FFC400;
    --bg-custom-card-3: #57D9A3;
    --bg-custom-card-4: #FF7452;
    --bg-custom-card-5: #2684FF;
    --bg-custom-card-6: #F99CDB;

    --container-nav: 90%;
    --container: 90%;
    --semi-container: 95%;
}

h1 {
    font-size: 32px;
    font-weight: 500;
    line-height: 1.2;
}

h2 {
    font-size: 16px;
    font-weight: 700;
}

h3 {
    text-transform: uppercase;
    font-size: 12px;
}

.container-nav {
    width: var(--container-nav);
    margin: 0 auto;
}

.container {
    width: var(--container);
    margin: 0 auto;
}

.semi-container {
    width: var(--semi-container);
    margin: 0 auto;
}

.mobile-and-tablet {
    display: inherit;
}

.desktop-and-xxl {
    display: none;
}

.bg-card-1,
.bg-card-2,
.bg-card-3 {
    cursor: pointer;
}

.bg-card-1 {
    background-color: var(--bg-card-1);
}

.bg-card-2 {
    background-color: var(--bg-card-2);
}

.bg-card-3 {
    background-color: var(--bg-card-3);
}

.text-bg-card {
    background-color: var(--text-bg-card);
}

.bg-custom-card-1 {
    background-color: var(--bg-custom-card-1);
}

.bg-custom-card-2 {
    background-color: var(--bg-custom-card-2);
}

.bg-custom-card-3 {
    background-color: var(--bg-custom-card-3);
}

.bg-custom-card-4 {
    background-color: var(--bg-custom-card-4);
}

.bg-custom-card-5 {
    background-color: var(--bg-custom-card-5);
}

.bg-custom-card-6 {
    background-color: var(--bg-custom-card-6);
}

.action-section-custom-cards-container::-webkit-scrollbar {
    display: none;
}

/* ---------------NAV----------- */
.mobile-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 12px 0px;
}

.mobile-nav .logo-nav {
    width: 100px;
}

.mobile-nav .icon-burger {
    width: 40px;
}

.mobile-nav img {
    width: 100%;
}

.desktop-nav {
    display: none;
}

/* ----------------------ASIDE------------------------ */

.aside-mobile {
    padding: 16px 20px;
}

.aside-style {
    background-color: var(--accent-secondary-bg-color);
    text-align: center;
    line-height: 1.5;
}

.aside-style a {
    color: var(--primary-color);
    text-decoration: underline;
    text-decoration-color: var(--primary-color)
}

.aside-desktop {
    display: none;
}

/* ----------------------------HEADER-------------------------- */

.not-on-mobile {
    display: none;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;

    background: url(/media/images/image-wave-separator-header.svg) center bottom -0.5px / 100% 14% no-repeat scroll padding-box border-box, linear-gradient(60deg, rgb(82, 67, 170), rgb(237, 80, 180)) 0% 0% / auto repeat scroll padding-box border-box rgb(82, 67, 170);
    background-blend-mode: normal, normal;
    color: rgb(255, 255, 255);
    padding-top: 120px;
}

.header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    flex: 1;

    text-align: center;
    color: var(--text-secondary-color);
    position: relative;
}

.header .texts-and-buttons-container {
    display: flex;
    flex-direction: column;
    gap: 32px;

    font-size: 20px;
    line-height: 1.3;
    font-weight: 400;
    padding-bottom: 200px;
}

.texts-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.header .buttons-container button {
    color: var(--text-secondary-color);
    background-color: var(--primary-color);
    padding: 16px;
    border-radius: 4px;
    border: 1px solid var(--primary-color);
}

.header .buttons-container button:hover {
    background-color: var(--primary-color-dark);
    border: 1px solid var(--primary-color-dark);
}

.header .buttons-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.buttons-container .video-header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    font-size: 16px;
    text-decoration-line: underline;
    color: var(--text-light-color);
}

.video-header-container .logo-play {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 30px;
}

.container .header-image-mobile {
    position: absolute;
    width: 300px;
    bottom: -80px;
}

.not-on-mobile-only {
    display: none;
}

.header .wave-image {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 1 0 80px;
}

.header .wave-image img {
    height: 100%;
}

/* -------------------------MAIN-------------------------    */

/* ------------------------ABC SECTION------------------- */

.article-abc-card-container {
    border-radius: 8px;
    padding-left: 8px;
}

#abc-section {
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 10%, rgba(179, 244, 254, 0.4) 100%);
    padding: 80px 0px;
}

.abc-section,
.section-abc-header {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.abc-titles-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.section-abc-header p,
.section-abc-header a {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.4;
}

.section-abc-header p {
    color: var(--text-color);
}

.section-abc-header a {
    color: var(--text-accent-color);
    text-decoration-line: underline;
}

.section-abc-mobile-and-tablet-articles-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.abc-mobile-and-tablet-article-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.abc-mobile-and-tablet-image-container img {
    border-radius: 8px;
}

.abc-mobile-and-tablet-text-container {
    display: flex;
    flex-direction: column;
    gap: 8px;

    padding: 12px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.abc-mobile-and-tablet-text-container h4,
.abc-mobile-and-tablet-text-container p {
    font-size: 14px;
    line-height: 1.4;
}

/* ------------------ACTION SECTION------------------- */

.bg-custom-card {
    border-radius: 8px;
    padding-top: 32px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    flex: 1 0 280px;
}

.bg-custom-card:hover {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.85);
    transition: 0.5s ease;
}

.bg-custom-card-text {
    background-color: var(--text-bg-card);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

#action-section {
    display: flex;
    flex-direction: column;
    gap: 40px;

    padding: 40px 0px 60px;
}

.action-section-custom-cards-container {
    margin-right: 0px;
}

.action-section-titles-container,
.action-section-bottom-container {
    padding-left: 16px;
}

.action-section-titles-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.action-section-custom-cards-container {
    display: flex;
    gap: 24px;

    overflow-x: scroll;
    padding: 16px;
}


.bg-custom-card .bg-custom-card-text {
    display: flex;
    flex-direction: column;
    gap: 16px;

    height: 100%;
    padding: 0px 16px 16px 16px;
}

.custom-card-image-container {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--text-bg-card);
    padding: 8px;
    width: 44px;
    border-radius: 8px;
    margin-top: -24px;
}

.custom-card-text-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 1;
}

.custom-card-text-container p {
    flex: 1;

    font-size: 14px;
    padding-right: 24px;
    line-height: 1.5;
}

.action-section-bottom-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.action-section-bottom-container p {
    font-size: 14px;
    line-height: 1.5;
    font-weight: 600;
}

.action-section-bottom-container button {
    align-self: flex-start;

    padding: 12px;
    font-size: 10px;
    line-height: 1.4;
    background-color: transparent;
    border: 1px solid var(--primary-color);
    border-radius: 4px;
}

/* -----------------OTHER WAY SECTION----------------- */

#other-way-section {
    padding-top: 20px;
    background-color: var(--primary-color);
}

.other-way-section-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.other-way-section-titles-container {
    display: flex;
    flex-direction: column;
    gap: 12px;

    text-align: center;
    color: var(--text-secondary-color)
}

.other-way-section-titles-container h2 {
    font-size: 18px;
}

.other-way-section-titles-container p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    padding-bottom: 12px;
}

.other-way-section-titles-container button {
    align-self: center;

    padding: 12px;
    font-weight: 700;
    font-size: 12px;
    background-color: var(--text-secondary-color);
    border: 1px solid var(--primary-color);
    border-radius: 4px;
}

.other-way-section-titles-container button:hover {
    filter: opacity(90%);
    transition: 0.5s ease-out;
}

.view-card-style {
    padding: 16px;
    background-color: var(--text-bg-card);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

.bottom-view-card {
    margin-bottom: -72px;
}

.view-card-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.view-card-text-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.view-card-text-container p {
    font-weight: 500;
    font-size: 15px;
    line-height: 1.4;
}

.view-card-text-container a {
    color: var(--text-accent-color);
    text-decoration: underline;
    font-weight: 500;
}

/* -------------------------MORE TRELLO SECTION------------------- */

#more-trello-section {
    display: flex;
    justify-content: center;

    padding: 100px 0px 40px;
}

.more-trello-section-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.more-trello-section-header-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.more-trello-section-titles-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.more-trello-section-widgets-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.widget-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 1;

    padding: 20px;
    background-color: #FAFBFC;
    border-radius: 8px;
    max-width: 380px;
}

.widget-image-container {
    align-self: flex-start;

    width: 100px;
}

.widget-text-and-button-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.widget-text-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.widget-text-container p {
    font-size: 17px;
}

.widget-text-and-button-container button {
    align-self: flex-start;

    padding: 12px;
    background-color: var(--text-secondary-color);
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
}

/* ------------------NEWS SECTION-------------------- */

.horizontal-separator-line {
    height: 1px;
    width: 140px;
    background-color: black;
}

#news-section {
    display: flex;
    justify-content: center;

    padding: 20px 0 40px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 10%, rgba(179, 244, 254, 0.4) 100%);
}

.news-section-container {
    display: flex;
    column-gap: 24px;

    overflow-x: auto;
    padding: 12px;
}

.news-card-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 0 100%;

    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}

.main-content-news-card-container {
    display: flex;
    flex-direction: column;
    gap: 16px;

    padding: 20px;
    background-color: var(--text-secondary-color);
    background-image: url(/media/images/bg-news-section.svg);
    background-repeat: no-repeat;
    background-size: 550px;
    background-position: 0% 0%;
    color: var(--text-color);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.title-main-content-news-card-container {
    font-size: 20px;
    line-height: 1.5;
    font-weight: 500;
    color: var(--text-color);
}

.news-card-signature-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
}

.sign-news-card-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.news-card-signature-container h5 {
    font-size: 12px;
    font-weight: 500;
    color: var(--text-color);
}

.news-card-signature-container p {
    font-size: 12px;
    font-weight: 500;
}

.brand-news-card-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.news-card-image-container {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 80px;
}

.news-card-image-extra-size {
    width: 200px;
}

.brand-news-card-container a {
    font-size: 12px;
    text-decoration-line: underline;
    color: var(--text-accent-color);
    font-weight: 500;
}

.percent-content-news-card-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    flex: 1;

    padding: 20px;
    background: linear-gradient(60deg, rgb(82, 67, 170), rgb(237, 80, 180)) 0% 0% / auto repeat scroll padding-box border-box rgb(82, 67, 170);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.percent-content-news-card-container h4 {
    flex: 1;
    
    font-size: 18px;
    color: var(--text-secondary-color);
    line-height: 1.6;
}

.percent-content-news-card-container a {
    font-size: 12px;
    text-decoration-line: underline;
    color: var(--text-light-color);
}